# **Exercises 04**
# ***list***

**Exercise 01**
**The following is a list of 10 students ages:**


> Sort the list and find the min and max age.

>Add the min age and the max age again to the list.

> IFind the median age (one middle item or two middle items divided by two)

>Find the average age (sum of all items divided by their number ).

> Find the range of the ages (max minus min).

> Compare the value of (min - average) and (max - average), use abs() method.

*   Sort the list and find the min and max age.

In [3]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print('list sort {}'.format(ages))

#Add the min age and the max age again to the list.
#1
max_age=ages[-1]
#2
l=len(ages)-1
max_age=ages[l]
min_age=ages[0]

print('Max list={}'.format(max_age))
print('Min list={}'.format(min_age))

# if list not sort
print('max',max(ages))
print('min',min(ages))

list sort [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Max list=26
Min list=19
max 26
min 19

In [4]:
len(ages)-1

9

In [5]:
#max and min add to list
ages.append(max_age)
ages.append(min_age)
print('after list add numbers =  {}'.format(ages))

after list add numbers =  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 19]


*  IFind the median age (one middle item or two middle items divided by two)

In [6]:
#create function middel
def get_median(list_):
  list_.sort()
  n = len(list_)
  m = n // 2
  if n % 2 == 0:
    return (list_[m - 1] + list_[m]) / 2
  else:
    return list_[m]

In [7]:
mediel=get_median(ages)
print('Median Ages in Class= {}'.format(mediel))

Median Ages in Class= 24.0


*   Find the average age (sum of all items divided by their number ).

In [8]:
#create functon average
def get_average(list_):

    sum_list=sum(list_)
    average=sum_list/len(list_)
  
    return average

In [9]:
average=get_average(ages)
print('Average Ages in Class= {}'.format(average))

Average Ages in Class= 22.75

* Find the range of the ages (max minus min).

In [16]:
#create functon range
def get_range(list_):

  list_.sort()
  Max=max(list_)
  Min=min(list_)
  rang=Max-Min
  return rang

In [17]:
rang=get_range(ages)
print('Rane Ages in Class={}'.format(rang))

Rane Ages in Class=7

* Compare the value of (min - average) and (max - average), use abs() method

In [18]:
min_avg=abs(min_age-average)
max_avg=max_age-average

if min_avg>max_avg:
  print(f'min_avg>max_avg ({min_avg}>{max_avg})')
elif min_avg<max_avg:
  print(f'min_avg<max_avg ({min_avg}<{max_avg})')
else:
  print('Both of them are equal')

min_avg>max_avg (3.75>3.25)

In [ ]:
#ages.remove(max_age) ---<> value deleat
#ages.remove(min_age)
#ages.pop(0)
#ages.pop()