#Exercises 13
#**Pandas**

**Exercuses 1**

*  **Load the dataset (cancer.csv)!**

In [2]:
import pandas as pd

In [4]:
df=pd.read_csv('/content/cancer.csv')

**Exercuses 2**

*  **Print an overview of the dataset.**

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   State                                         51 non-null     object
 1   Total.Rate                                    51 non-null     float64
 2   Total.Number                                  51 non-null     float64
 3   Total.Population                              51 non-null     float64
 4   Rates.Age.< 18                                51 non-null     float64
 5   Rates.Age.18-45                               51 non-null     float64
 6   Rates.Age.45-64                               51 non-null     float64
 7   Rates.Age.> 64                                51 non-null     float64
 8   Rates.Age and Sex.< 18.Female                 51 non-null     float64
 9   Rates.Age and Sex.< 18.Male                   51 non-null     float64
 10  Rates.Age and Sex.18 - 45.Female              51 non-null     float64
 11  Rates.Age and Sex.18 - 45.Male                51 non-null     float64
 12  Rates.Age and Sex.45 - 64.Female              51 non-null     float64
 13  Rates.Age and Sex.45 - 64.Male                51 non-null     float64
 14  Rates.Age and Sex.> 64.Female                 51 non-null     float64
 15  Rates.Age and Sex.> 64.Male                   51 non-null     float64
 16  Rates.Race.White                              51 non-null     float64
 17  Rates.Race.White non-Hispanic                 51 non-null     float64
 18  Rates.Race.Black                              51 non-null     float64
 19  Rates.Race.Asian                              51 non-null     float64
 20  Rates.Race.Indigenous                         51 non-null     float64
 21  Rates.Race and Sex.Female.White               51 non-null     float64
 22  Rates.Race and Sex.Female.White non-Hispanic  51 non-null     float64
 23  Rates.Race and Sex.Female.Black               51 non-null     float64
 24  Rates.Race and Sex.Female.Black non-Hispanic  51 non-null     float64
 25  Rates.Race and Sex.Female.Asian               51 non-null     float64
 26  Rates.Race and Sex.Female.Indigenous          51 non-null     float64
 27  Rates.Race and Sex.Male.White                 51 non-null     float64
 28  Rates.Race and Sex.Male.White non-Hispanic    51 non-null     float64
 29  Rates.Race and Sex.Male.Black                 51 non-null     float64
 30  Rates.Race and Sex.Male.Black non-Hispanic    51 non-null     float64
 31  Rates.Race and Sex.Male.Asian                 51 non-null     float64
 32  Rates.Race and Sex.Male.Indigenous            51 non-null     float64
 33  Rates.Race.Hispanic                           51 non-null     float64
 34  Rates.Race and Sex.Female.Hispanic            51 non-null     float64
 35  Rates.Race and Sex.Male.Hispanic              51 non-null     float64
 36  Types.Breast.Total                            51 non-null     float64
 37  Types.Breast.Age.18 - 44                      51 non-null     float64
 38  Types.Breast.Age.45 - 64                      51 non-null     float64
 39  Types.Breast.Age.> 64                         51 non-null     float64
 40  Types.Breast.Race.White                       51 non-null     float64
 41  Types.Breast.Race.White non-Hispanic          51 non-null     float64
 42  Types.Breast.Race.Black                       51 non-null     float64
 43  Types.Breast.Race.Black non-Hispanic          51 non-null     float64
 44  Types.Breast.Race.Asian                       51 non-null     float64
 45  Types.Breast.Race.Indigenous                  51 non-null     float64
 46  Types.Breast.Race.Hispanic                    51 non-null     float64
 47  Types.Colorectal.Total                        51 non-null     float64
 48  Types.Colorectal.Age and Sex.Female.18 - 44   51 non-null     float64
 49  Types.Colorectal.Age and Sex.Male.18 - 44     51 non-null     float64
 50  Types.Colorectal.Age and Sex.Female.45 - 64   51 non-null     float64
 51  Types.Colorectal.Age and Sex.Male.45 - 64     51 non-null     float64
 52  Types.Colorectal.Age and Sex.Female.> 64      51 non-null     float64
 53  Types.Colorectal.Age and Sex.Male.> 64        51 non-null     float64
 54  Types.Colorectal.Race.White                   51 non-null     float64
 55  Types.Colorectal.Race.White non-Hispanic      51 non-null     float64
 56  Types.Colorectal.Race.Black                   51 non-null     float64
 57  Types.Colorectal.Race.Black non-Hispanic      51 non-null     float64
 58  Types.Colorectal.Race.Asian                   51 non-null     float64
 59  Types.Colorectal.Race.Indigenous              51 non-null     float64
 60  Types.Colorectal.Race.Hispanic                51 non-null     float64
 61  Types.Lung.Total                              51 non-null     float64
 62  Types.Lung.Age and Sex.Female.18 - 44         51 non-null     float64
 63  Types.Lung.Age and Sex.Male.18 - 44           51 non-null     float64
 64  Types.Lung.Age and Sex.Female.45 - 64         51 non-null     float64
 65  Types.Lung.Age and Sex.Male.45 - 64           51 non-null     float64
 66  Types.Lung.Age and Sex.Female.> 64            51 non-null     float64
 67  Types.Lung.Age and Sex.Male.> 64              51 non-null     float64
 68  Types.Lung.Race.White                         51 non-null     float64
 69  Types.Lung.Race.White non-Hispanic            51 non-null     float64
 70  Types.Lung.Race.Black                         51 non-null     float64
 71  Types.Lung.Race.Black non-Hispanic            51 non-null     float64
 72  Types.Lung.Race.Asian                         51 non-null     float64
 73  Types.Lung.Race.Indigenous                    51 non-null     float64
 74  Types.Lung.Race.Hispanic                      51 non-null     float64
dtypes: float64(74), object(1)
memory usage: 30.0+ KB

**Exercuses 3**

**Print 13 last samples of the dataset.**

In [ ]:
df.tail(13)

,State,Total.Rate,Total.Number,Total.Population,Rates.Age.< 18,Rates.Age.18-45,Rates.Age.45-64,Rates.Age.> 64,Rates.Age and Sex.< 18.Female,Rates.Age and Sex.< 18.Male,...,Types.Lung.Age and Sex.Male.45 - 64,Types.Lung.Age and Sex.Female.> 64,Types.Lung.Age and Sex.Male.> 64,Types.Lung.Race.White,Types.Lung.Race.White non-Hispanic,Types.Lung.Race.Black,Types.Lung.Race.Black non-Hispanic,Types.Lung.Race.Asian,Types.Lung.Race.Indigenous,Types.Lung.Race.Hispanic
38,Pennsylvania,227.7,202230.0,88825682.0,2.2,15.7,204.1,1057.3,2.1,2.4,...,66.5,225.8,373.4,48.1,48.4,60.2,61.4,23.4,20.9,19.8
39,Rhode Island,211.2,15570.0,7371636.0,1.4,13.3,190.3,1052.1,0.0,0.0,...,64.2,247.9,379.8,51.7,53.0,33.7,39.5,25.5,0.0,15.0
40,South Carolina,202.6,65561.0,32366134.0,2.1,17.0,235.5,957.1,2.1,2.2,...,91.3,212.9,393.9,54.3,54.8,49.4,48.7,23.4,40.8,19.2
41,South Dakota,196.2,11212.0,5714307.0,2.3,12.4,175.7,1007.1,0.0,3.2,...,56.4,206.2,361.2,43.9,44.2,0.0,0.0,0.0,70.3,0.0
42,Tennessee,213.1,94678.0,44430836.0,2.4,17.7,245.2,1032.1,2.3,2.5,...,101.0,248.4,461.5,61.5,62.1,62.1,62.5,25.8,21.3,8.8
43,Texas,145.8,257000.0,176270421.0,2.5,14.7,186.6,904.8,2.3,2.7,...,54.3,200.0,331.9,42.9,50.1,54.1,54.9,22.2,9.0,20.8
44,Utah,98.5,19022.0,19321462.0,1.9,10.9,132.3,735.8,1.6,2.2,...,26.0,92.7,153.2,20.4,20.6,31.1,35.0,18.5,17.8,17.3
45,Vermont,211.6,9261.0,4377262.0,2.2,16.2,188.1,1002.8,0.0,0.0,...,59.7,243.6,337.0,49.7,49.8,0.0,0.0,0.0,0.0,0.0
46,Virginia,177.1,99278.0,56054333.0,2.2,14.5,189.3,971.0,1.9,2.5,...,63.4,226.2,359.8,48.7,49.5,52.6,52.7,23.7,17.0,15.3
47,Washington,175.9,82864.0,47114240.0,2.3,13.2,177.5,982.0,2.3,2.3,...,49.4,241.1,317.9,46.3,47.2,46.6,47.8,29.0,43.4,18.2
48,West Virginia,254.6,32950.0,12940212.0,2.5,20.3,254.0,1068.9,2.2,2.7,...,100.2,264.7,445.8,62.7,63.0,59.1,59.6,0.0,0.0,0.0
49,Wisconsin,197.5,78578.0,39788899.0,2.2,13.8,181.2,1028.1,2.1,2.2,...,55.0,223.1,339.9,44.6,45.1,70.6,71.7,20.6,79.0,16.1
50,Wyoming,167.9,6603.0,3931624.0,0.0,11.8,168.3,924.9,0.0,0.0,...,39.0,205.6,290.4,40.0,40.8,0.0,0.0,0.0,55.2,21.4

**Exercuses 4**

**Print states with total rate of less than 200**

In [6]:
df.columns

Index(['State', 'Total.Rate', 'Total.Number', 'Total.Population',
       'Rates.Age.< 18', 'Rates.Age.18-45', 'Rates.Age.45-64',
       'Rates.Age.> 64', 'Rates.Age and Sex.< 18.Female',
       'Rates.Age and Sex.< 18.Male', 'Rates.Age and Sex.18 - 45.Female',
       'Rates.Age and Sex.18 - 45.Male', 'Rates.Age and Sex.45 - 64.Female',
       'Rates.Age and Sex.45 - 64.Male', 'Rates.Age and Sex.> 64.Female',
       'Rates.Age and Sex.> 64.Male', 'Rates.Race.White',
       'Rates.Race.White non-Hispanic', 'Rates.Race.Black', 'Rates.Race.Asian',
       'Rates.Race.Indigenous', 'Rates.Race and Sex.Female.White',
       'Rates.Race and Sex.Female.White non-Hispanic',
       'Rates.Race and Sex.Female.Black',
       'Rates.Race and Sex.Female.Black non-Hispanic',
       'Rates.Race and Sex.Female.Asian',
       'Rates.Race and Sex.Female.Indigenous', 'Rates.Race and Sex.Male.White',
       'Rates.Race and Sex.Male.White non-Hispanic',
       'Rates.Race and Sex.Male.Black',
       'Rates.Race and Sex.Male.Black non-Hispanic',
       'Rates.Race and Sex.Male.Asian', 'Rates.Race and Sex.Male.Indigenous',
       'Rates.Race.Hispanic', 'Rates.Race and Sex.Female.Hispanic',
       'Rates.Race and Sex.Male.Hispanic', 'Types.Breast.Total',
       'Types.Breast.Age.18 - 44', 'Types.Breast.Age.45 - 64',
       'Types.Breast.Age.> 64', 'Types.Breast.Race.White',
       'Types.Breast.Race.White non-Hispanic ', 'Types.Breast.Race.Black',
       'Types.Breast.Race.Black non-Hispanic', 'Types.Breast.Race.Asian',
       'Types.Breast.Race.Indigenous', 'Types.Breast.Race.Hispanic',
       'Types.Colorectal.Total', 'Types.Colorectal.Age and Sex.Female.18 - 44',
       'Types.Colorectal.Age and Sex.Male.18 - 44',
       'Types.Colorectal.Age and Sex.Female.45 - 64',
       'Types.Colorectal.Age and Sex.Male.45 - 64',
       'Types.Colorectal.Age and Sex.Female.> 64',
       'Types.Colorectal.Age and Sex.Male.> 64', 'Types.Colorectal.Race.White',
       'Types.Colorectal.Race.White non-Hispanic',
       'Types.Colorectal.Race.Black',
       'Types.Colorectal.Race.Black non-Hispanic',
       'Types.Colorectal.Race.Asian', 'Types.Colorectal.Race.Indigenous',
       'Types.Colorectal.Race.Hispanic', 'Types.Lung.Total',
       'Types.Lung.Age and Sex.Female.18 - 44',
       'Types.Lung.Age and Sex.Male.18 - 44',
       'Types.Lung.Age and Sex.Female.45 - 64',
       'Types.Lung.Age and Sex.Male.45 - 64',
       'Types.Lung.Age and Sex.Female.> 64',
       'Types.Lung.Age and Sex.Male.> 64', 'Types.Lung.Race.White',
       'Types.Lung.Race.White non-Hispanic', 'Types.Lung.Race.Black',
       'Types.Lung.Race.Black non-Hispanic', 'Types.Lung.Race.Asian',
       'Types.Lung.Race.Indigenous', 'Types.Lung.Race.Hispanic'],
      dtype='object')

In [8]:
df[df['Total.Rate']<200]['State'] 
# np.array(df[df['Total.Rate']<200]['State'] )

1                   Alaska
2                  Arizona
4               California
5                 Colorado
6              Connecticut
8     District of Columbia
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
16                  Kansas
20                Maryland
21           Massachusetts
23               Minnesota
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
37                  Oregon
41            South Dakota
43                   Texas
44                    Utah
46                Virginia
47              Washington
49               Wisconsin
50                 Wyoming
Name: State, dtype: object

**Exercues 5**

**Print number of states with total rate of less than 200**

In [13]:
df[df['Total.Rate']<200]['State'].count()

#(df['Total.Rate']<200).sum()

31

**Exercues 6**

*   **Print rows between 53 and 112 , and columns between 14 to 82 (use iloc)**

In [ ]:
df.iloc[35:112,15:28]

#df.iloc[35:,15:28]

,Rates.Age and Sex.> 64.Female,Rates.Age and Sex.> 64.Male,Rates.Race.White,Rates.Race.White non-Hispanic,Rates.Race.Black,Rates.Race.Asian,Rates.Race.Indigenous,Rates.Race and Sex.Female.White,Rates.Race and Sex.Female.White non-Hispanic,Rates.Race and Sex.Female.Black,Rates.Race and Sex.Female.Black non-Hispanic,Rates.Race and Sex.Female.Asian,Rates.Race and Sex.Female.Indigenous,Rates.Race and Sex.Male.White
35,895.1,1288.3,185.3,186.0,218.0,98.7,55.5,157.9,158.6,181.6,182.7,90.5,41.6,224.6
36,855.6,1279.4,190.2,192.6,222.1,122.1,194.2,159.0,160.8,181.4,182.5,127.1,162.3,232.7
37,866.0,1169.2,173.7,175.5,200.8,118.0,138.7,151.0,152.6,161.7,168.8,101.8,125.5,204.8
38,898.6,1276.5,177.7,178.2,222.4,96.5,56.7,151.7,152.3,189.6,192.9,85.6,43.8,215.5
39,884.4,1291.3,176.7,179.0,128.6,113.2,142.5,149.7,151.9,108.4,127.6,78.5,104.8,218.1
40,775.1,1195.1,175.1,176.1,211.2,88.1,102.2,144.0,144.5,165.0,163.3,84.8,80.2,218.2
41,860.7,1195.0,163.3,163.8,77.4,149.0,226.5,139.7,140.0,0.0,0.0,130.3,200.5,195.9
42,834.4,1294.7,189.4,190.9,231.6,93.5,62.0,153.7,154.9,185.2,186.3,88.6,59.1,239.3
43,750.2,1104.0,162.5,172.6,208.6,94.4,36.2,136.2,145.4,171.3,174.1,83.2,30.4,198.5
44,611.6,884.9,128.9,129.7,132.0,105.3,114.5,109.9,110.5,116.2,130.6,89.4,112.5,154.1
45,872.8,1165.8,175.0,175.0,130.3,109.2,0.0,151.4,151.3,0.0,0.0,112.1,0.0,207.8
46,819.2,1170.7,168.9,170.7,208.0,98.8,68.6,144.5,145.9,169.6,169.5,84.5,49.7,203.5
47,852.4,1142.0,171.3,173.5,189.0,120.1,167.8,149.4,151.3,153.7,157.1,103.4,147.4,201.4
48,889.6,1299.9,198.6,199.4,216.3,67.1,75.1,167.1,167.9,177.0,178.2,55.1,0.0,241.9
49,869.5,1233.6,169.9,170.9,235.1,107.9,214.0,145.1,146.1,195.5,198.5,93.5,193.7,205.4
50,803.4,1064.5,161.5,163.2,86.0,87.4,177.4,142.4,144.3,0.0,0.0,0.0,129.8,187.4

In [21]:
print(df.columns[27])
print(df.columns[15])
df.loc[35:,'Rates.Age and Sex.> 64.Male':'Rates.Race and Sex.Male.White']

Rates.Race and Sex.Male.White
Rates.Age and Sex.> 64.Male

,Rates.Age and Sex.> 64.Male,Rates.Race.White,Rates.Race.White non-Hispanic,Rates.Race.Black,Rates.Race.Asian,Rates.Race.Indigenous,Rates.Race and Sex.Female.White,Rates.Race and Sex.Female.White non-Hispanic,Rates.Race and Sex.Female.Black,Rates.Race and Sex.Female.Black non-Hispanic,Rates.Race and Sex.Female.Asian,Rates.Race and Sex.Female.Indigenous,Rates.Race and Sex.Male.White
35,1288.3,185.3,186.0,218.0,98.7,55.5,157.9,158.6,181.6,182.7,90.5,41.6,224.6
36,1279.4,190.2,192.6,222.1,122.1,194.2,159.0,160.8,181.4,182.5,127.1,162.3,232.7
37,1169.2,173.7,175.5,200.8,118.0,138.7,151.0,152.6,161.7,168.8,101.8,125.5,204.8
38,1276.5,177.7,178.2,222.4,96.5,56.7,151.7,152.3,189.6,192.9,85.6,43.8,215.5
39,1291.3,176.7,179.0,128.6,113.2,142.5,149.7,151.9,108.4,127.6,78.5,104.8,218.1
40,1195.1,175.1,176.1,211.2,88.1,102.2,144.0,144.5,165.0,163.3,84.8,80.2,218.2
41,1195.0,163.3,163.8,77.4,149.0,226.5,139.7,140.0,0.0,0.0,130.3,200.5,195.9
42,1294.7,189.4,190.9,231.6,93.5,62.0,153.7,154.9,185.2,186.3,88.6,59.1,239.3
43,1104.0,162.5,172.6,208.6,94.4,36.2,136.2,145.4,171.3,174.1,83.2,30.4,198.5
44,884.9,128.9,129.7,132.0,105.3,114.5,109.9,110.5,116.2,130.6,89.4,112.5,154.1
45,1165.8,175.0,175.0,130.3,109.2,0.0,151.4,151.3,0.0,0.0,112.1,0.0,207.8
46,1170.7,168.9,170.7,208.0,98.8,68.6,144.5,145.9,169.6,169.5,84.5,49.7,203.5
47,1142.0,171.3,173.5,189.0,120.1,167.8,149.4,151.3,153.7,157.1,103.4,147.4,201.4
48,1299.9,198.6,199.4,216.3,67.1,75.1,167.1,167.9,177.0,178.2,55.1,0.0,241.9
49,1233.6,169.9,170.9,235.1,107.9,214.0,145.1,146.1,195.5,198.5,93.5,193.7,205.4
50,1064.5,161.5,163.2,86.0,87.4,177.4,142.4,144.3,0.0,0.0,0.0,129.8,187.4

**Exercues 7**

**print unique values of the Rates.Age.< 18 column!**

In [ ]:
df['Rates.Age.< 18'].nunique()

13

**Exercues 8**

*   **print mean of the Rates.Age.< 18**

In [ ]:
df['Rates.Age.< 18'].mean()

2.119607843137255

**Exercues 9**

**Find max of Total.Population and subtract all values of Total.Population column from the maximum value using lambda function**

In [ ]:
max_vaul=df['Total.Population'].max()

In [ ]:
df['Total.Population'].map(lambda x : max_vaul-x )

0     227748491.0
1     256169516.0
2     216290098.0
3     240753248.0
4             0.0
5     225867962.0
6     236159807.0
7     254840433.0
8     256890337.0
9     128858625.0
10    193245044.0
11    251609613.0
12    250181401.0
13    171438735.0
14    215763006.0
15    239813614.0
16    241206913.0
17    230787639.0
18    229497310.0
19    251834514.0
20    220651717.0
21    215243424.0
22    191747123.0
23    223951967.0
24    240378824.0
25    219297306.0
26    254202673.0
27    248350172.0
28    242223389.0
29    251912307.0
30    199614141.0
31    246785934.0
32    125419172.0
33    194466627.0
34    256380793.0
35    180394453.0
36    234906552.0
37    234303580.0
38    172310014.0
39    253764060.0
40    228769562.0
41    255421389.0
42    216704860.0
43     84865275.0
44    241814234.0
45    256758434.0
46    205081363.0
47    214021456.0
48    248195484.0
49    221346797.0
50    257204072.0
Name: Total.Population, dtype: float64