# **Exercises 07**
# set

**Exercise 01**


> Find the length of the set it_companies

> Add 'Twitter' to it_companie

> Insert multiple IT companies at once to the set it_companies

> Remove one of the companies from the set it_companies

> What is the difference between remove and discard

In [7]:
# Find the length of the set it_companies

it_companies = {'Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon'}

print('Find the length of the set it_companies=',len(it_companies))

Find the length of the set it_companies= 7

In [8]:
#  Add 'Twitter' to it_companie

it_companies.add('Twitter')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [9]:
# Insert multiple IT companies at once to the set it_companies

it_companies.update(['windos','linux'])

In [10]:
it_companies # in set not repetition

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter',
 'linux',
 'windos'}

In [11]:
#Remove one of the companies from the set it_companies
it_companies.remove('Twitter')

In [12]:
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'linux',
 'windos'}

In [13]:
it_companies.clear()

**What is the difference between remove and discard?**
 
# in remove When deleting, if there is no item in it, it gives an error,but in discard it is not like this, if there is no item, it does not give an error, now it depends on the application, which one is used.

**Exercise 02**

Convert the ages to a set and compare the length of the list and the set, which one is bigger

In [14]:
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [15]:
#Convert the ages to a set
age_set=set(age)
age

[22, 19, 24, 25, 26, 24, 25, 24]

In [16]:
print(age_set)

{19, 22, 24, 25, 26}

In [19]:
# compare the length of the list and the set, which one is bigger
len_set=len(age_set)
len_list=len(age)

if len_set>len_list :
      print(f'len of set ({len_set}) is bigger than len of list ({len_list})')
elif len_set<len_list:
    print(f'len of set ({len_set}) is smaller than len of list ({len_list})')
else:
    print("both of them are equal")

len of set (5) is smaller than len of list (8)

**Exercise 03**

How many unique words have been used in the sentence?
Use the split methods and set to get the unique words.

#(I am a teacher and I love to inspire and teach people.)

In [18]:
string='I am a teacher and I love to inspire and teach people.'

unique_words =set(string.split()) #in set remove repeat 

print(unique_words)
print()
print('Len sentence:',len(unique_words))

{'to', 'teach', 'teacher', 'people.', 'inspire', 'and', 'I', 'am', 'love', 'a'}

Len sentence: 10