#**Exercises 05**
*  **Tuple**

**Exercise 01**

>Create an empty tuple

>Create a tuple containing names of your sisters and your brothers, separately (imaginary siblings are fine)

> Join brothers and sisters tuples and assign it to siblings

> How many siblings do you have?

> Modify the siblings tuple and add the name of your father and mother and assign it to family_members

***Create an empty tuple:***

In [34]:
empyTuple=tuple()

**Create a tuple containing names of your sisters and your brothers, separately (imaginary siblings are fine)**

In [35]:
sisters=('Munira', 'Zainab', 'Asiya', 'Leila') #If it has a member, it should be put in a comma at the end
broders=('Mahmoud', 'Mahdi', 'Ali' ,'Hossein')   #(ali,)
type(sisters)
type(broders)

tuple

**Join brothers and sisters tuples and assign it to siblings**

In [36]:
siblings =sisters+broders

print('Brothers and sisters {}' .format(siblings))

Brothers and sisters ('Munira', 'Zainab', 'Asiya', 'Leila', 'Mahmoud', 'Mahdi', 'Ali', 'Hossein')

**How many siblings do you have?**

In [37]:
number_siblings=len(siblings)

print('Number Siblings= {}'.format(number_siblings))

Number Siblings= 8

**Modify the siblings tuple and add the name of your father and mother and assign it to family_members**

In [38]:
#Tuple cannot be MOdify conver list
#Modify
sibl_list=list(siblings)
#Add
sibl_list.append('Adam')
sibl_list.append('Eve')
#Modify
family_members=tuple(sibl_list)

In [39]:
family_members=('Adam','Eve',)+siblings

print('family_members= {}'.format(family_members))

family_members= ('Adam', 'Eve', 'Munira', 'Zainab', 'Asiya', 'Leila', 'Mahmoud', 'Mahdi', 'Ali', 'Hossein')

**Exercise 02**



> Create fruits, vegetables and animal products tuples, separately.

>Join the above three tuples and assign it to a variable called food_stuff_tp

>Change the about food_stuff_tp tuple to a food_stuff_lt list

> Slice out the middle item of items from the food_stuff_tp tuple or food_stuff_lt list.


> Slice out the first tree items and the last tree itmes from the food_staff_it list.

> Delete the food_staff_tp tuple completely

**Create fruits, vegetables and animal products tuples, separately.**

In [40]:
firuits=('Apple','Orange', 'lemon', 'cucumber',)

vegetables=('Tarragon', 'tomato', 'onion', 'potato,')

animal=('Dog', 'cat', 'fox', 'bear',)

**Join the above three tuples and assign it to a variable called food_stuff_tp**

In [41]:
food_stuff_tp=firuits+vegetables+animal

print('Join the above three tuples = {}' .format(food_stuff_tp))

Join the above three tuples = ('Apple', 'Orange', 'lemon', 'cucumber', 'Tarragon', 'tomato', 'onion', 'potato,', 'Dog', 'cat', 'fox', 'bear')

**Change the about food_stuff_tp tuple to a food_stuff_lt list**

In [42]:
list_food_stuff=list(food_stuff_tp)

type(list_food_stuff)

list

**Slice out the middle item of items from the food_stuff_tp tuple or food_stuff_lt list.**

In [43]:
#slice out the middle tuple
def findMiddle(input_list):
    len_ = int(len(input_list))
    middle=len_/2 # index can not float or len//2
    if len_ % 2 != 0:
        return input_list[int(middle)]
    else:
        return (input_list[int(middle)], input_list[int(middle-1)])

In [44]:
print(food_stuff_tp)
print()
print('slice out the middle tuple= ',findMiddle(food_stuff_tp))

('Apple', 'Orange', 'lemon', 'cucumber', 'Tarragon', 'tomato', 'onion', 'potato,', 'Dog', 'cat', 'fox', 'bear')

slice out the middle tuple=  ('onion', 'tomato')

**Slice out the first tree items and the last tree itmes from the food_staff_it list.**

In [45]:
print(list_food_stuff[0:3:1]) # [start:3:step]

print(list_food_stuff[-1:-4:-1])

['Apple', 'Orange', 'lemon']
['bear', 'fox', 'cat']

**Delete the food_staff_tp tuple completely**

In [46]:
#tuple conver list and clear
list_food_stuff_tp=list(food_stuff_tp)

print(list_food_stuff_tp)
print()

list_food_stuff_tp.clear() # clear for used list
print('list it is Empty=' ,list_food_stuff_tp)

del food_stuff_tp

['Apple', 'Orange', 'lemon', 'cucumber', 'Tarragon', 'tomato', 'onion', 'potato,', 'Dog', 'cat', 'fox', 'bear']

list it is Empty= []

**Exercise 03**



>Check if 'Estonia' is a nordic country, print True, Otherwise print False!

> Check if 'Iceland' is a nordic country, print True, Otherwise print False!

> nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

In [47]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

In [48]:
def find_Tuple(Name,Tuple_):
  if Name in Tuple_:
   print(' it is in list ', True)

  else: print('it is in list', False)

In [49]:
find_Tuple('Estonia',nordic_countries)

it is in list False

In [50]:
find_Tuple('Iceland',nordic_countries)

 it is in list  True

In [52]:
# the why without if and else
print('Estonia' in nordic_countries)
print('Iceland' in nordic_countries)

False
True